<ul class="collapsible" id="search_results">
        <li class="favorite_book">
          <div class="collapsible-header"><i class="material-icons">favorite_borders
            <ul id="favoritebooksList">
                    {{#each favorite}}
                    <li>{{title}} by {{author}}

                        
                    </li>
                    {{/each}}
                </ul>

          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>