<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Gimme Books</title>
</head>

<body>
  <header>
    <nav>

      <div class="topnav">
        <div class="row">
          <a href="/" class="brand-logo">Gimme Books</a>
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger btn right' href='#' data-target='login'>Login</a>

          <!-- Dropdown Structure -->
          <ul id='login' class='dropdown-content'>
            <li><input id="loginEmail" type="email">Email</li>
            <li><input id="loginPassword" type="password">Password</li>
            <label>
              <input type="checkbox" />
              <span>Remember Me</span>
            </label>
            <button id="loginButton" class="btn right ">Submit</button>


          </ul>


        </div>
      </div>
      </div>
      </div>
      <div class="nav-wrapper">
        <form class="form-inline">
                <div class="form-group">
                   <label class="sr-only" for="email">Email</label><input type="text" class="form-control input-sm"
                      placeholder="Email" id="email" name="email">
                      </div>
                       <div class="form-group">
                       <label class="sr-only" for="password">Password</label>
                      <input type="password" class="form-control input-sm" placeholder="Password" id="password"
                     name="password"></div>
                </div> 
        </form>
    </div>
    </nav>
  </header>

  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/books.js"></script>
</body>

</html>