<br><br><br>
<main class="container">

  {{!-- {{#if loggedIn}}
    <p>You are logged in!</p>
    {{else}}
    <p>You are not logged in</p>
  {{/if}} --}}
  <div class="section">
    <div class="container blue-grey lighten-5">
        {{#if loggedIn}}
      <div id="titles" class="row">
        <div class="col s12">

          <h4 class="center">NYT BEST SELLERS LIST</h4>
        </div>
          <div id="best-seller-titles">
          <!-- best sellers -->
          </div>
      </div>
    </div>
  </div>

      {{else}}


    <div class="section">
      <div class="row">
        <div class="col s4 offset-s4">
          <div class="card center">
            <div class="card content brown lighten-5">
              <h5>New here? Create a free account!</h5>

              <form>
                <div class="input-field ">
                  <input id="user_name" type="text" class="validate">
                  <label for="user_name">Name</label>
                </div>
                <div class="input-field ">
                  <input id="signEmail" type="email" class="validate">
                  <label for="signEmail">Email</label>
                </div>
                <div class="input-field ">
                  <input id="signPassword" type="password" class="validate">
                  <label for="signPassword">Password</label>
                </div>
          
                <button id="signUpButton" class="btn waves-effect waves-light">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>  
    {{/if}}


    {{!-- MODAL --}}
    <!-- Modal Structure -->
    <div id="modalSearch" class="modal">
      <div class="modal-content">
        <p>Nothing was entered, please enter a book title or author.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

<div class="section">
  <div class="parallax-container">
    <div id="search" class="row">
      <div class="col s6">
        <form id="bookForm">
          <div class="input-field center">
            <input id="search_bar" type="search">
            <label for="search_bar"><i class="material-icons">search</i> Search by Book Title or Author</label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </div>
    <div class="parallax"><img src="../images/background1.jpg"></div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 blue grey darken-1">
        <ul class="collapsible" id="search_results">
          <li class="search_book">
            <div class="collapsible-header"><i class="material-icons">library_books
              </i>Submit a query to get some books.</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</main>