<main class="container">

  {{!-- {{#if loggedIn}}
    <p>You are logged in!</p>
    {{else}}
    <p>You are not logged in</p>
  {{/if}} --}}
  <div id="banner" class="row">

    <div class="entry">
      {{#if loggedIn}}
      <div class="col s7 amber lighten-5">

        <h4>NYT BEST SELLERS LIST</h4>

        <div id="reviews">
          <!-- reviews -->
        </div>

        <div id="best-seller-titles">
          <!-- best sellers -->
        </div>
      </div>
    </div>
  </div>

      {{else}}


    <div class="section">
      <div class="row center">
        <div class="col s12 brown lighten-5 center">
          <h5>New here? Create a free account!</h5>


          <form>
          <div class="input-field ">
            <input id="user_name" type="text" class="validate">
            <label for="user_name">Name</label>
          </div>
          <div class="input-field ">
            <input id="signEmail" type="email" class="validate">
            <label for="signEmail">Email</label>
          </div>
          <div class="input-field ">
            <input id="signPassword" type="password" class="validate">
            <label for="signPassword">Password</label>
          </div>
          
         <button id="signUpButton" class="btn waves-effect waves-light">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
    {{/if}}


    {{!-- MODAL --}}
    <!-- Modal Structure -->
    <div id="modalSearch" class="modal">
      <div class="modal-content">
        <p>Nothing was entered, please enter a book title or author.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>



    <div id="search" class="row blue grey darken-1">
      <form id="bookForm">
        <div class="input-field col s6 offset-s3">
          <input id="search_bar" type="search">
          <label for="search_bar"><i class="material-icons">search</i> Search by Book Title or Author</label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col s12">
        <ul class="collapsible" id="search_results">
          <li class="search_book">
            <div class="collapsible-header"><i class="material-icons">library_books
              </i>Submit a query to get some books.</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>
    </div>
</main>